<h1><%= @post.title%></h1>
<p><%= @post.content%></p>

<ul>
  <% @comments.each do |comment| %>
    <li>
      <p><%= comment.nickname %> said <%= time_ago_in_words(comment.created_at) %> ago:</p>
      <p><%= comment.message %></p>
    </li>
  <% end %>
</ul>


<%= render "comments/form" %>